@model PaginatedList<BusinessObject.Object.Order>

@{
    ViewData["Title"] = "HistoryOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>History Orders</h1>
@if (Model.Count() == 0)
{
    <h3>There is no orders to display</h3>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Member ID
            </th>
            <th>
                Order Date
            </th>
            <th>
                Required Date
            </th>
            <th>
                Shipped Date
            </th>
            <th>
                Freight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @{
        var PreviousDisabled = !Model.PreviousPage ? "disabled" : "";
        var NextDisabled = !Model.NextPage ? "disabled" : "";
    }
    <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)"
       class="btn btn-outline-primary @PreviousDisabled">Previous</a>
    <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)"
       class="btn btn-outline-primary @NextDisabled">Next</a>
</div>
}
